In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:\\Users\\bhawna\\Downloads\\Shark Tank India Dataset.csv")

In [3]:
data.head(10)

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.00,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.00,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.00,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.00,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.00,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
5,2,6,Agro tourism,Tourism,0,50.0,5.00,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
6,3,7,Qzense Labs,Food Freshness Detector,0,100.0,0.25,40000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
7,3,8,Peeschute,Disposable Urine Bag,1,75.0,4.00,1875.00,75.0,6.00,...,0,0,1,0,0,0,0,1,75.0,6.000000
8,3,9,NOCD,Energy Drink,1,50.0,2.00,2500.00,20.0,15.00,...,0,0,0,0,1,0,0,1,20.0,15.000000
9,4,10,Cosiq,Intelligent Skincare,1,50.0,7.50,666.67,50.0,25.00,...,0,1,0,0,1,0,0,2,25.0,12.500000

In [4]:
import numpy as np

In [5]:
data.iloc[np.where((data["ashneer_deal"]==1) & (data["amount_per_shark"]) & (data["equity_per_shark"]))][:]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.000000,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.000000,25.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.000000,2.750000
15,6,16,Skippi Pops,Ice-Pops,1,45.0,5.0,900.00,100.0,15.00,...,1,1,1,1,1,0,0,5,20.000000,3.000000
18,7,19,Raising Superstars,Child Development App,0,100.0,2.0,5000.00,100.0,4.00,...,1,0,1,0,0,0,0,2,50.000000,2.000000
21,8,22,Beyond Snack,Kerala Banana Chips,1,50.0,2.5,2000.00,50.0,2.50,...,1,0,1,0,0,0,0,2,25.000000,1.250000
23,8,24,Motion Breeze,Smart Electric Motorcycle,1,30.0,3.0,1000.00,30.0,6.00,...,1,0,0,0,0,0,0,1,30.000000,6.000000
29,10,30,EventBeep,Student Community App,1,30.0,2.0,1500.00,30.0,3.00,...,1,0,1,0,0,1,0,3,10.000000,1.000000
38,13,39,The Yarn Bazaar,Yarn-Trading App,1,50.0,2.0,2500.00,100.0,10.00,...,1,1,1,0,0,1,0,4,25.000000,2.500000
45,16,46,Bamboo India,Bamboo Products,1,80.0,4.0,2000.00,50.0,3.50,...,1,1,0,0,0,0,0,2,25.000000,1.750000
49,17,50,Find Your Kicks India,Sneaker Resale,1,50.0,10.0,500.00,50.0,25.00,...,1,1,1,1,0,1,0,5,10.000000,5.000000
50,17,51,Aas Vidyalaya,EdTech App,1,150.0,3.0,5000.00,150.0,15.00,...,1,0,0,1,0,1,0,3,50.000000,5.000000
55,18,56,Otua,Electric Auto Vehicle,1,100.0,1.0,10000.00,1.0,1.00,...,1,0,0,0,0,0,0,1,1.000000,1.000000
58,19,59,WeSTOCK,Livestock health monitoring AI,1,50.0,5.0,1000.00,60.0,10.00,...,1,0,1,1,0,1,0,4,15.000000,2.500000
63,20,64,IN A CAN,Can Cocktails,1,50.0,2.0,2500.00,100.0,10.00,...,1,1,1,1,0,1,0,5,20.000000,2.000000
64,21,65,Get a Whey,Sugar-Free Icecream,1,100.0,8.0,1250.00,100.0,15.00,...,1,0,1,0,1,0,0,3,33.333333,5.000000
67,22,68,Hair Originals,Natural Hair Extensions,1,60.0,2.0,3000.00,60.0,4.00,...,1,1,0,0,0,1,0,3,20.000000,1.333333
108,33,109,Tweek Labs,Sportswear,1,40.0,2.0,2000.00,60.0,10.00,...,1,1,0,0,0,1,0,3,20.000000,3.333333
109,33,110,Proxgy,VR,1,35.0,1.0,3500.00,10.0,10.00,...,1,0,0,0,0,1,0,2,5.000000,5.000000
110,34,111,Nomad Food Project,Bacon Jams,1,40.0,10.0,400.00,40.0,20.00,...,1,0,0,1,1,0,1,4,10.000000,5.000000
114,35,115,Jain Shikanji,Lemonade,1,40.0,8.0,500.00,40.0,30.00,...,1,1,1,0,1,0,0,4,10.000000,7.500000

# Ashneer invested in 21 different brands

In [6]:
data.groupby(["ashneer_deal"])["amount_per_shark"].sum()

ashneer_deal
0    1627.166936
1     494.333333
Name: amount_per_shark, dtype: float64

# * Ashneer invested 4 Cr 94 lakhs in Total

In [7]:
data.groupby(["ashneer_deal"])["amount_per_shark"].max()

ashneer_deal
0    100.0
1     70.0
Name: amount_per_shark, dtype: float64

In [8]:
data.groupby(["ashneer_deal"])["equity_per_shark"].max()

ashneer_deal
0    75.0
1    25.0
Name: equity_per_shark, dtype: float64

In [9]:
data.iloc[np.where((data["ashneer_deal"]==1) & (data["equity_per_shark"]==25.0))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.0,...,1,0,0,0,1,0,0,2,20.0,25.0

# Ashneer has maximum equity of 25% of Booz scooters with an amount of 20 lakhs invested

# Ashneer invested 70 lakhs as the maximum in comparison to all his investments  with 2.75 equity in Tagz Foods

In [10]:
f_data = pd.DataFrame(columns = (["Total no. of investments"],["max._Equity"],["max.Equity company name"],["Total_Investment"],["max. Investment"]),index = ("Ashneer Grover","Anupam","Aman","Namita","vineeta","peyush","ghazal"))

In [11]:
data.iloc[np.where(data["anupam_deal"]==1)].shape

(24, 28)

# ANUMPAM invested in 24 companies in total

In [12]:
data.groupby(["anupam_deal"])["amount_per_shark"].sum()

anupam_deal
0    1587.666667
1     533.833603
Name: amount_per_shark, dtype: float64

# Anupam invested 5 Cr 33 lakhs Total

In [13]:
data.groupby(["anupam_deal"])["amount_per_shark"].max()

anupam_deal
0    100.0
1     50.0
Name: amount_per_shark, dtype: float64

In [14]:
data.iloc[np.where((data["anupam_deal"]==1) & (data["amount_per_shark"]==50.0))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
12,5,13,Revamp Moto,E-Bike,1,100.0,1.0,10000.0,100.0,1.5,...,0,1,1,0,0,0,0,2,50.0,0.75
31,11,32,ARRCOAT Surface Textures,Wall Building,1,50.0,5.0,1000.0,50.0,15.0,...,0,1,0,0,0,0,0,1,50.0,15.00
78,25,79,PawsIndia,Dog Products,1,50.0,4.0,1250.0,50.0,15.0,...,0,1,0,0,0,0,0,1,50.0,15.00

In [15]:
data.groupby(["anupam_deal"])["equity_per_shark"].max()

anupam_deal
0    75.0
1    17.5
Name: equity_per_shark, dtype: float64

In [16]:
data.iloc[np.where((data["anupam_deal"]==1) & (data["equity_per_shark"]==17.5))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
75,24,76,The Sass Bar,Gifts,1,40.0,8.0,500.0,50.0,35.0,...,0,1,0,0,0,0,1,2,25.0,17.5

# anupam has max equity of 17.5 % of The sass Bar with an amount of 25 lakhs invested

# anupam's max amount invested was 50 lakhs in 3 different companies

In [17]:
data.iloc[np.where(data["aman_deal"]==1)].shape

(28, 28)

In [18]:
data.groupby(["aman_deal"])["amount_per_shark"].sum()

aman_deal
0    1234.000252
1     887.500017
Name: amount_per_shark, dtype: float64

In [19]:
data.groupby(["aman_deal"])["equity_per_shark"].max()

aman_deal
0    75.0
1    40.0
Name: equity_per_shark, dtype: float64

In [20]:
data.iloc[np.where((data["aman_deal"]==1) & (data["equity_per_shark"]==40.0))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
42,15,43,Hammer Lifestyle,Smart Audio Products,1,30.0,3.0,1000.0,100.0,40.0,...,0,0,1,0,0,0,0,1,100.0,40.0

In [21]:
data.groupby(["aman_deal"])["amount_per_shark"].max()

aman_deal
0    100.0
1    100.0
Name: amount_per_shark, dtype: float64

# Aman has invested in a total of 28 brands with a total amount of 8 Cr 87 lakhs as of now and he holds a max of 40%equity in the company Hammer Lifestyle with max investment of 1 Cr.

In [22]:
data.iloc[np.where(data["namita_deal"]==1)].shape

(22, 28)

In [23]:
data.groupby(["namita_deal"])["amount_per_shark"].sum()

namita_deal
0    1473.166667
1     648.333603
Name: amount_per_shark, dtype: float64

In [24]:
data.groupby(["namita_deal"])["equity_per_shark"].max()

namita_deal
0    75.0
1    25.0
Name: equity_per_shark, dtype: float64

In [25]:
data.iloc[np.where((data["namita_deal"]==1) & (data["equity_per_shark"]==25.0))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
106,33,107,Colour Me Mad,Insoles,1,40.0,10.0,400.0,40.0,25.0,...,0,0,0,1,0,0,0,1,40.0,25.0

In [26]:
data.groupby(["namita_deal"])["amount_per_shark"].max()

namita_deal
0    100.0
1     75.0
Name: amount_per_shark, dtype: float64

In [27]:
data.iloc[np.where((data["namita_deal"]==1) & (data["amount_per_shark"]==75.0))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
33,12,34,Auli Lifestyle,Ayurvedic Products,1,75.0,4.0,1875.0,75.0,15.0,...,0,0,0,1,0,0,0,1,75.0,15.0

# Namita has invested in a total of 22 Brands with a total amount of 6 Cr and 48 lakhs invested till now. She holds a max of 25% equity in the company Colour Me Bad and her max investment reached 75 Lakhs for a company called Auli lifestyle.

In [28]:
data.iloc[np.where(data["vineeta_deal"]==1)].shape

(15, 28)

In [29]:
data.groupby(["vineeta_deal"])["amount_per_shark"].sum()

vineeta_deal
0    1793.166936
1     328.333333
Name: amount_per_shark, dtype: float64

In [30]:
data.groupby(["vineeta_deal"])["equity_per_shark"].max()

vineeta_deal
0    75.0
1    25.0
Name: equity_per_shark, dtype: float64

In [31]:
data.iloc[np.where((data["vineeta_deal"]==1) & (data["equity_per_shark"]==25.0))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.0,...,1,0,0,0,1,0,0,2,20.0,25.0

In [32]:
data.groupby(["vineeta_deal"])["amount_per_shark"].max()

vineeta_deal
0    100.0
1     40.0
Name: amount_per_shark, dtype: float64

In [33]:
data.iloc[np.where((data["vineeta_deal"]==1) & (data["amount_per_shark"]==40.0))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
95,30,96,Kabaddi Adda,All-Kabaddi App,1,80.0,1.0,8000.0,80.0,6.0,...,0,0,0,1,1,0,0,2,40.0,3.0

# Vineeta has invested in a total of 15 Brands with a total amount of 3 Cr and 28 lakhs invested till now. She holds a max of 25% equity in the company Booz Scooters and her max investment reached 40 Lakhs for a company called Kabaddi adda.

In [34]:
data.iloc[np.where(data["peyush_deal"]==1)].shape

(27, 28)

In [35]:
data.groupby(["peyush_deal"])["amount_per_shark"].sum()

peyush_deal
0    1401.833350
1     719.666919
Name: amount_per_shark, dtype: float64

In [36]:
data.groupby(["peyush_deal"])["equity_per_shark"].max()

peyush_deal
0    40.0
1    75.0
Name: equity_per_shark, dtype: float64

In [37]:
data.iloc[np.where((data["peyush_deal"]==1) & (data["equity_per_shark"]==75.0))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
65,21,66,Sid07 Designs,Inventions,1,47.0,10.0,470.0,25.0,75.0,...,0,0,0,0,0,1,0,1,25.0,75.0

In [38]:
data.groupby(["peyush_deal"])["amount_per_shark"].max()

peyush_deal
0    100.0
1    100.0
Name: amount_per_shark, dtype: float64

In [40]:
data.iloc[np.where((data["peyush_deal"]==1) & (data["amount_per_shark"]==100))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
87,27,88,Insurance Samadhan,Insurance Solutions,1,100.0,1.0,10000.0,100.0,4.0,...,0,0,0,0,0,1,0,1,100.0,4.0

# Peyush has invested in a total of 27 Brands with a total amount of 7 Cr and 19 lakhs invested till now. He holds a max of 75% equity in the company Sid Designs and his max investment reached 1 Cr for a company called Insurance Samadhan.

In [41]:
data.iloc[np.where(data["ghazal_deal"]==1)].shape

(7, 28)

In [42]:
data.groupby(["ghazal_deal"])["amount_per_shark"].sum()

ghazal_deal
0    1991.500017
1     130.000253
Name: amount_per_shark, dtype: float64

In [43]:
data.groupby(["ghazal_deal"])["equity_per_shark"].max()

ghazal_deal
0    75.0
1    17.5
Name: equity_per_shark, dtype: float64

In [44]:
data.iloc[np.where((data["ghazal_deal"]==1) & (data["equity_per_shark"]==17.5))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
75,24,76,The Sass Bar,Gifts,1,40.0,8.0,500.0,50.0,35.0,...,0,1,0,0,0,0,1,2,25.0,17.5

In [45]:
data.groupby(["ghazal_deal"])["amount_per_shark"].max()

ghazal_deal
0    100.000000
1     33.333333
Name: amount_per_shark, dtype: float64

In [46]:
data.iloc[np.where((data["ghazal_deal"]==1))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
75,24,76,The Sass Bar,Gifts,1,40.00000,8.0,500.00,50.00000,35.0,...,0,1,0,0,0,0,1,2,25.000000,17.5
79,25,80,Sunfox Technologies,Portable ECG Device,1,100.00000,2.0,5000.00,100.00000,6.0,...,0,1,0,1,1,1,1,5,20.000000,1.2
85,27,86,Watt Technovations,Ventilated PPE Kits,1,0.00101,10.0,0.01,0.00101,4.0,...,0,1,0,1,0,1,1,4,0.000253,1.0
88,28,89,Humpy A2,Organic Milk Products,1,75.00000,4.0,1875.00,100.00000,15.0,...,0,0,0,0,1,1,1,3,33.333333,5.0
90,28,91,Gold Safe Solutions Ind.,Anti-Suicidal Fan Rod,1,50.00000,5.0,1000.00,50.00000,30.0,...,0,0,0,0,1,1,1,3,16.666667,10.0
91,29,92,Wakao Foods,Jackfruit Products,1,75.00000,5.0,1500.00,75.00000,21.0,...,0,0,0,1,1,0,1,3,25.000000,7.0
110,34,111,Nomad Food Project,Bacon Jams,1,40.00000,10.0,400.00,40.00000,20.0,...,1,0,0,1,1,0,1,4,10.000000,5.0

# Ghazal has invested in a total of 7 Brands with a total amount of 1 Cr and 30 lakhs invested till now. He holds a max of 17.5% equity in the company The Sass Bar and his max investment reached 33.3 lakhs for a company called Humpy A2.

In [47]:
f_data

,"(Total no. of investments,)","(max._Equity,)","(max.Equity company name,)","(Total_Investment,)","(max. Investment,)"
Ashneer Grover,NaN,NaN,NaN,NaN,NaN
Anupam,NaN,NaN,NaN,NaN,NaN
Aman,NaN,NaN,NaN,NaN,NaN
Namita,NaN,NaN,NaN,NaN,NaN
vineeta,NaN,NaN,NaN,NaN,NaN
peyush,NaN,NaN,NaN,NaN,NaN
ghazal,NaN,NaN,NaN,NaN,NaN

In [48]:
f_data["Total_no. of investments"] = [21,24,28,22,15,27,7]

In [49]:
f_data["max_equity"] = ["25%","17.5%","40%","25%","25%","75%","17.5%"]

In [50]:
f_data["max_quity_company_name"] = ["Booz Scooters","PAWS INDIA","Hammer Lifestyle","Colour Me Bad","Booz Scooters","Sid Designs","The Sass Bar"]

In [51]:
f_data["Total_investment(in lakhs)"] = [494,533,887,648,328,719,130]

In [52]:
f_data["Max_Investment (in lakhs)"] = [70,50,100,75,40,100,33.3]

In [53]:
F_data = f_data.iloc[:,5:]

In [54]:
F_data

,Total_no. of investments,max_equity,max_quity_company_name,Total_investment(in lakhs),Max_Investment (in lakhs)
Ashneer Grover,21,25%,Booz Scooters,494,70.0
Anupam,24,17.5%,PAWS INDIA,533,50.0
Aman,28,40%,Hammer Lifestyle,887,100.0
Namita,22,25%,Colour Me Bad,648,75.0
vineeta,15,25%,Booz Scooters,328,40.0
peyush,27,75%,Sid Designs,719,100.0
ghazal,7,17.5%,The Sass Bar,130,33.3

# THE DATA ABOVE DEPICTS THE IMPORTANT INFORMATION WHICH COULD BE GATHERED FROM THE WHOLE DATA SET.

In [55]:
data["total_sharks_invested"].max()

5

In [56]:
data.iloc[np.where((data["total_sharks_invested"]==5))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
15,6,16,Skippi Pops,Ice-Pops,1,45.0,5.0,900.0,100.0,15.0,...,1,1,1,1,1,0,0,5,20.0,3.0
49,17,50,Find Your Kicks India,Sneaker Resale,1,50.0,10.0,500.0,50.0,25.0,...,1,1,1,1,0,1,0,5,10.0,5.0
63,20,64,IN A CAN,Can Cocktails,1,50.0,2.0,2500.0,100.0,10.0,...,1,1,1,1,0,1,0,5,20.0,2.0
79,25,80,Sunfox Technologies,Portable ECG Device,1,100.0,2.0,5000.0,100.0,6.0,...,0,1,0,1,1,1,1,5,20.0,1.2

# THE BRANDS WHICH PULLED THE MAXIMUM NUMBER OF SHARKS WERE THE ABOVE 4.

In [57]:
data["total_sharks_invested"].min()

0

In [59]:
data.iloc[np.where((data["total_sharks_invested"]==0))]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.00,1000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
5,2,6,Agro tourism,Tourism,0,50.0,5.00,1000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
6,3,7,Qzense Labs,Food Freshness Detector,0,100.0,0.25,40000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
10,4,11,JhaJi Achaar,Pickle,0,50.0,10.00,500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
13,5,14,Hungry Heads,Restaurant serving 80 types of Maggi,0,50.0,5.00,1000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
14,5,15,Shrawani Engineers,Belly Button Shaper,0,10.0,20.00,50.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
17,6,18,Hecolll,Pollution Resistant Fabric,0,100.0,1.00,10000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
19,7,20,Torch-it,Gadgets for visually impaired people,1,75.0,1.00,7500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
20,7,21,La Kheer Deli,Kheer in variety of flavors,0,50.0,7.50,666.67,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
26,9,27,Kabira Handmade,Healthy Oils,0,100.0,5.00,2000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
30,11,31,Gopal's 56,Fiber Ice Cream,0,30000.0,25.00,120000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
34,12,35,SweeDesi,Indian Sweets,0,40.0,3.00,1333.33,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
40,14,41,Morikko Pure Foods,Healthy Food Snacks,0,100.0,3.00,3333.33,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
41,14,42,Good Good Piggy Bank,Digital Piggy Bank,0,45.0,5.00,900.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
46,16,47,Flying Furr,Dog Hygiene,0,75.0,7.00,1071.43,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
51,17,52,Outbox,Premium Surprise-Planning,0,50.0,5.00,1000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
53,18,54,Mommy's Kitchen,Thin Crust Pizza,0,90.0,3.00,3000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
54,18,55,India Hemp and Co,Hemp Food Products,0,50.0,4.00,1250.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
56,18,57,Anthyesti,Funeral Service,0,50.0,2.50,2000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
57,19,58,Ethik,Leather-free Shoes,0,15.0,5.00,300.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
59,19,60,KetoIndia,Customised Keto Diets for various medical issues,0,125.0,1.25,10000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
60,19,61,Magic lock,LPG Cylinder lock,0,120.0,8.00,1500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
62,20,63,Bakarmax,Comics & Animation,0,35.0,5.00,700.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
68,22,69,Poo de Cologne,Toilet Spray with Essential Oils,0,75.0,5.00,1500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
69,22,70,Moonshine Meads,Meads,0,80.0,5.00,1600.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
70,22,71,Falhari,Fresh Fruits,0,50.0,2.00,2500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
72,23,73,Urban Monkey,Streetwear,0,100.0,1.00,10000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
73,23,74,Guardian Gears,Motorcycle Luggage,0,30.0,5.00,600.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
74,23,75,Modern Myth,Bags,0,75.0,5.00,1500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
77,24,78,Nuskha Kitchen,Homemade Foods,0,20.0,10.00,200.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
80,25,81,Alpino,Roasted Peanut Products,0,150.0,2.00,7500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
82,26,83,Julaa Automation,Automatic Cradle,0,50.0,10.00,500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
84,27,85,Theka Coffee,Coffee Products,0,50.0,10.00,500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
86,27,87,Aliste Technologies,Automation Solutions,0,60.0,5.00,1200.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
89,28,90,Kunafa World,Kunafa,0,90.0,5.00,1800.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
92,29,93,PDD Falcon,Stainless Steel Items,0,75.0,3.00,2500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
93,29,94,PlayBox TV,Streaming Platform,0,100.0,3.50,2857.14,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
94,30,95,Sippline Drinking Shields,Portable Glass Attachment,0,75.0,15.00,500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
96,30,97,Shades of Spring,Flowers,0,300.0,1.00,30000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
97,30,98,Scholify,Scholarship Platform,0,50.0,7.50,666.67,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
98,31,99,Scrapshala,Handmade Reusable Scrap Materials,0,50.0,10.00,500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
99,31,100,Sabjikothi,Vegetables Storage,0,60.0,2.50,2400.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
101,31,102,Astrix,Smart Locks,0,75.0,3.00,2500.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
102,32,103,Thea and Sid,Proposal Solutions,0,80.0,7.00,1142.86,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
103,32,104,Experential Etc,Technology layered Advertisement Services,0,200.0,4.00,5000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
105,32,106,Med Tech,Portable opthalmic devices,0,35.0,6.00,583.33,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
107,33,108,Mavi's,Vegan Fermented Food,0,40.0,5.00,800.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
111,34,112,Twee in One,Reversible and convertible clothing,0,30.0,7.50,400.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
112,34,113,Green Protein,Plant-Based Protein,0,60.0,2.00,3000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
113,34,114,On2Cook,Fastest Cooking Device,0,100.0,1.00,10000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
115,35,116,Woloo,Washroom Finder,0,50.0,4.00,1250.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.50,4000.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0

# From the above data it is clear that 52 brands were such that nobody liked investing in them.